# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
*.env
api.env

# Logs and records
*.log
records/
*.ogg
*.wav

# VS Code settings
.vscode/

# macOS and Windows system files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec
dist/
build/
